* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body {
    font-family: Cambria, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:#333;
    background-color: #eda1ad;
    
}
.container {
  text-align: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  

}
.navbar {
    z-index: 1000;
    height: 80px;
    color: #333;
    position: fixed;
    width: 100%;
    opacity: 85%;
    background-color: #fafafa;
    /* background-color:transparent;
    backdrop-filter: blur(8px); */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  }
  .navbar .logo {
    margin: 4px 8px;
    max-height: 70px;
    border-radius: 10px;
    padding: 4px 4px;
    background-color: #fafafa;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .logo {
    max-width: fit-content;
    
   }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    /* opacity: 70%;
    background-color: #fafafa;
    border-radius:20px 20px 0 0; */
  
  }
  .nav__links {
    list-style: none;
    
  }
  .nav__links li{
    display: inline-flex;
    padding: 0px 20px;
  }
  .nav__links li a {
    transition:all 0.35s ease 0s;
    
    
  }
  .nav__links li a:hover{
    background-color:#e87a8b;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color:#fafafa;
  }
  .active {
    background-color:#acdbdf;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #333;
  }
  li a{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 9px 25px;
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
  
  }
  .header h1 {
    font-weight: bold;
    line-height: 1.2;
    margin-top: 1.2em;
  }
  .contact_card {
    margin-top: 10em;
  }
 .contact_card ul li:nth-child(4){
  margin-bottom: 5em;
 }
 .contact_card ul li a{
  margin: .5em 9em;
  padding: 0;
  transition:all 0.35s ease 0s;
 }  
.contact_card ul li a:hover {
  background-color: #e87a8b;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color:#fafafa;
}
  .snapshot h1{
    font-size: 7vw;
    display: flex;
    
  }
  .snapshot h2 {
    color:#acdbdf
  }
  .snapshot p {
    padding: 1em 4em;
  }

  .header .biglogo {
    max-width: 75%;
    border-radius: 100%;
    background-image: url(images/background_logo.png);
    background-size:cover;
    background-position: center;
   
  }
  .header .biglogo:hover {
    max-width: 60%;
    transition: 1s ease 0s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 4em;
    background-size:120%;
    background-position:center;
  }
  .header .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color:#fafafa;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0, 10em, 15em, 10em;
  }
  .header .container ul {
    list-style-type: none;
    justify-content: center;
    align-items: flex-end;
    display: inline-block;
  
  }
  
  #section1.container {
    padding: 4em 0;
    justify-content: center;
    margin: auto;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
    background-color: #fafafa;
    border-radius: 20px;
    min-height: 20em;
    max-height: cover; 
    margin: 3em 1em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    transition-property: all;
    transition: 1s ease 0s;
   }
  
  /* Style the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#showYearbookButton {
  background-color: #acdbdf;
    margin-top: 1em;
    margin-bottom: 2em;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #333;
    padding: .7em 1em;
    cursor: pointer;
    font-size: .8em;
    transition: all;
}

#showYearbookButton:hover{
  background-color:#e87a8b;   
  color: #fafafa;
  transition: .5s ease 0s;
}
.modal-content {
  margin: 0;
  background-color: #acdbdf; 
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #fafafa;
  width: 90%;
  max-width: 70em;
  position: relative;
  border-radius: 20px;
}


.close {
  margin: .25em;
  padding: .25em;
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e87a8b;
  text-decoration: none;
  cursor: pointer;
}


  .flip-card {
    flex: 1;
    background-color: #fafafa;
    border-radius: 20px;
    min-height: 18em;
    margin: 2em 1em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    transition-property: all;
    transition: 1s ease 0s;
  }
  .card-front h2 {
    margin: .7em;
    padding: .7em;
  }
  
  .flip-card-inner {
    flex: auto;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    max-width: 35em;
    margin-bottom: 0;
    max-height: 35em;
    transition-property: all;

    
  }
  
.card-front .front-links img {
  pointer-events: auto; 
}

.card-front.flipped .front-links img {
  pointer-events: none;
  cursor: default;
}
.card-back .front-links .projects-img img {
  cursor: none;
  pointer-events: none;
}

  .card-back .projects-img,
  .card-back .projects-video {
    display: none;
    pointer-events: none;
  }
  .card-back.flipped .front-links a {
    pointer-events: none;
    cursor: default;
  }
  
.card-front.flipped .front-links {
  pointer-events: none;
  cursor: default;
}
  .card-front,
  .card-back {
    transition-property: all;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  

  .card-back {
    transform: rotateY(180deg);
    position: relative;
    top: -25em;
    
  }
  #back-of-dnd {
    top: -30em;
  }
  #back-of-dream {
    top: -23em;
  }

  #back-of-car {
    top: -26em;
  }
  #back-of-cake {
    top:-27em;
  }
  #back-of-stock {
    top: -30em;
  }
  .close-button {
    background-color: #acdbdf;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #333;
    padding: .7em 1em;
    cursor: pointer;
    font-size: .8em;
    transition: all;
    
  }

  .close-button:hover {
    background-color:#e87a8b; 
    color: #fafafa;
  transition: .5s ease 0s;
  }
  .flip-button {
    background-color: #acdbdf;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #333;
    padding: .7em 1em;
    cursor: pointer;
    font-size: .8em;
    transition: all;
    
    
  }
  .flip-button:hover{
    background-color:#e87a8b;   
    color: #fafafa;
  transition: .5s ease 0s;
  }
  .box #resume {
    display: inline;
    align-items: center;
    justify-content: center;
  }

  .resume { 
    margin-top: 3em; 
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 28em;
    border-radius: 10px;
    transition-property: all;
    transition: 1s ease 0s;
  }
  .resume:hover {
    max-width: 32em;
    transition: 1s ease 0s;
  }
  .btn-download:hover i{
    background-clip: content-box;
    background: linear-gradient(to bottom,rgb(48, 48, 48) 0%, #01f10d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.1 ease 0s;
  }
 
  .projects-video {
    opacity: 80%;
    max-width: 30em;
    transition-property: all;
    border-radius: 20px;
  }
  .projects-video:hover {
    opacity: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 1s ease 0s;
    max-width: 35em
  }
  .projects-img-dnd{
    opacity: 80%;
    max-height: 21em;
    border-radius: 20px;
    transition-property: all;
  }
  .projects-img-dnd:hover {
    opacity: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 1s ease 0s;
    max-height: 24em;
    
  }
  .projects-img {
    opacity: 80%;
    max-width: 30em;
    border-radius: 20px;
    transition-property: all;
    background-color: #333;
  }
  .projects-img:hover {
    opacity: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 1s ease 0s;
    max-width:33em;
    
  }
  .project_lang {
    color: #333;
  }
  .project_desc {
    text-align: center;
    max-width:18em;
    padding: 1em 1em;
    color: rgb(82, 82, 82);
  }

  .college img{
    max-width: 90%;
    padding: 5px;
    border-radius: 20px;
    transition-property: all;
    
  }
  .college img:hover {
    opacity: 90%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 1s ease 0s;
    max-width: 100%;
    background-color: rgb(97, 96, 96);
    background-color: #cd486b;
    filter:opacity(.95) drop-shadow(0 0 0 #ed8e9c);
  }
  .last_p {
    padding-bottom: 2em;
  }
  .box h3 {
    color: #72a9ae;
  }
  em {
    color: #81b6bb;
    font-weight: bold;
  }
  .click_img {
    color: #ca5e6e;
  }
  #skills li{
    list-style: none;
   }
   #skills {
    flex: 1;
    margin: 0 4em;
   }
   .box#skills ul li {
    flex: 1;
    margin-top: .6em;
   }
.box#skills ul li a.wiki {
  display:inline-flex;
  
}
.click_logo {
  color: rgb(88, 88, 88);
}
  .icon {
    max-height: 4em;
    display:flexbox;
    margin: .3em 0;
    padding: 1px;
    text-align: center;
  }
  .icon:hover {
    transition: 1s ease 0s;
    max-height: 5em;
  }
  .btn-download{
    background-color: #acdbdf;
    margin-top: 2em;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #333;
    padding: .5em .8em;
    cursor: pointer;
    font-size: .8em;
    transition: all;
  }
  .btn-download:hover {
    font-size: 1em;
    background-color: #84d4db;
    transition: 1s ease 0s;
  }
  .footer {
    display:flexbox;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;

  }
  .social-btns .btn,
  .social-btns .btn:before,
  .social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .social-btns .btn:before {
    top: 90%;
    left: -110%;
  }
  .social-btns .btn .fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  .social-btns .btn.facebook:before {
    background-color: #3b5998;
  }
  .social-btns .btn.facebook .fa {
    color: #3b5998;
  }
  .social-btns .btn.twitter:before {
    background-color: #00aff0;
  }
  .social-btns .btn.twitter .fa {
    color: #00aff0;
  }
  .social-btns .btn.linkedin:before {
    background-color: #257cd4;
  }
  .social-btns .btn.linkedin .fa {
    color:#257cd4;
  }
  .social-btns .btn.instagram:before {
    background: linear-gradient(to bottom,  #e95950 9%, #fccc63);
  }
  .social-btns .btn.instagram .fa {
    color: #cd486b;
  }
  
  .social-btns .btn.github:before {
    background-color: purple;
  }
  .social-btns .btn.github .fa {
    color: purple;
  }
  
  .social-btns .btn:focus:before,
  .social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
  }
  .social-btns .btn:focus .fa,
  .social-btns .btn:hover .fa {
    color: #fafafa;
    background-color: none;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .social-btns {
    margin: 20px auto;
    font-size: 0;
    text-align: center;
    position: flex;
    justify-content: center;
    align-content: center;
    
  }
  .social-btns .btn {
    display: inline-block;
    background-color:#fafafa;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 
    10px 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
  }
  .social-btns .btn:before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
  }
  @media only screen and (max-width: 1100px) {
    body{
      background-color: #eda1ad;
    }
    .logo {
      display: none;
    }
    
    .navbar {
      height: fit-content;
      opacity: 100%;
      z-index: 1000;
     
    }
    .navbar .container {
      margin: 0;
      margin-bottom: 1em;
      align-items: flex-end;
    }
    .nav__links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    }
    .nav__links li{
      display: flexbox;
      text-align: center;
      margin-top: .7em;
      padding: 0;
      
    }
    
    .snapshot {
      display: grid;
      margin-top: 5em;
    }
    .snapshot h1 {
      justify-content: center;
    }
    .boxes .container{
      display: grid;
      justify-content: center;
      transition-property: all;
      transition: 1s ease 0s;
      padding: 0;
    }
    .boxes .container .box {
      margin: 0;
      margin-top: 2.5em;
      border-radius: 30px;
      min-height: auto;
     
    }
    .boxes .container .box#python{
      margin: 0;
      padding: 0;
      margin-top: 2.5em;
      background-color: #a5dce1;
      padding-bottom: .25em;
    }
    .boxes .container .box#dnd{
      margin: 0;
      padding: 0 .25;
      margin-top: 2.5em;
      background-color: #a5dce1;
    }
    .projects-video {
      max-width: 14em;
    }
    .projects-img {
      max-width: 15em;
    }
    .header .container {
      display:grid;
      text-align: center;
    }
    .header h1 {
      text-align: center;
      font-size: 2.8em;
    }
    .header .contact_card {
      padding-bottom: 5em;
    }
    .contact_card {
      margin: auto;
    }
    .contact_card ul li:nth-child(4){
      margin: 0;
     }
     .contact_card ul li a{
      margin: 0;
     }  
     #skills{
      background-color: #baebf0;
     }
     #skills {
      flex: 1;
      margin: 4em;
      padding: 1em;
     }
  .snapshot {
    justify-content: center;
  }
  .resume {
    width: 80%
  }
  
  .card-back {
    top: -16em;
    
  }
  
  #back-of-dream {
    top: -17em;
  }

  #back-of-car {
    top: -18em;
  }
  #back-of-cake {
    top:-18em;
  }
  #back-of-stock {
    top: -20em;
  }
}
@media only screen and (max-width: 360px) {
  .navbar {
    justify-content: center;
  }

  .boxes .container .flip-card .flip-card-inner {
    margin: 0;
    margin-top: 2.5em;
    border-radius: 30px;
    min-height: auto;
   
  }
}